<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Study Program</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/flags.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <h2>Study plan</h2>
  <h3>{{ Datatechnologies }}</h3>
  <br></br>
  <div class="plan">
	<div class="year">
		<h4>{{ 1. Year }}</h4>
		<hr></hr>
		<div class="sem sem-autumm">
			<p>1st autumm semester</p>
		</div>
		<div class="sem sem-spring">
			<p>1st summer semester</p>
		</div>
	</div>
	<div class="year specchooser">
		<h4>{{ 2. Year }}</h4>
		<hr></hr>
		<select id="firstCombo" class="speccombo" onchange="specComboChanged()">
			<option value="spec-none" selected disabled hidden>Choose spec</option>
			<option value="spec-data">Databases</option>
			<option value="spec-is">Information systems</option>
		</select> 
		<div class="sem sem-autumm spec spec-data">
			<p>1st autumm semester in data spec</p>
		</div>
		<div class="sem sem-spring spec spec-data">
			<p>1st summer semester in data spec</p>
		</div>  
		<div class="sem sem-autumm spec spec-is">
			<p>1st autumm semester in inf systems spec</p>
		</div>
		<div class="sem sem-spring spec spec-is">
			<p>1st summer semester in inf systems spec</p>
		</div>  
	</div>
	<div class="year spec spec-data">
		<h4>{{ 3. Year }}</h4>
		<hr></hr>
		<div class="sem sem-autumm spec spec-data">
			<p>2nd autumm semester in data spec</p>
		</div>
		<div class="sem sem-spring spec spec-data">
			<p>2nd summer semester in data spec</p>
		</div>
	</div>
	<div class="year spec spec spec-data specchooser">
		<h4>{{ 4. Year }}</h4>
		<hr></hr>
		<select class="spec spec-data speccombo" onchange="specComboChanged()">
			<option value="spec-none" selected disabled hidden>Choose spec</option>
			<option value="spec-buss">Business</option>
			<option value="spec-ai">Artifical Intelligence</option>
		</select> 
		<div class="sem sem-autumm spec spec-ai">
			<p>1st autumm semester in ai spec</p>
		</div>
		<div class="sem sem-spring spec spec-ai">
			<p>1st summer semester in ai spec</p>
		</div>  
		<div class="sem sem-autumm spec spec-buss">
			<p>1st autumm semester in business spec</p>
		</div>
		<div class="sem sem-spring spec spec-buss">
			<p>1st summer semester in business spec</p>
		</div>  
	</div>
	<div class="year spec spec-data spec-ai">
		<h4>{{ 5. Year }}</h4>
		<hr></hr>
		<div class="sem sem-autumm spec spec-ai">
			<p>2nd autumm semester in ai spec</p>
		</div>
		<div class="sem sem-spring spec spec-ai">
			<p>2nd summer semester in ai spec</p>
		</div>
	</div>
	<div class="year spec spec-is">
		<h4>{{ 3. Year }}</h4>
		<hr></hr>
		<div class="sem sem-autumm spec spec-is">
			<p>2nd autumm semester in inf systems spec</p>
		</div>
		<div class="sem sem-spring spec spec-is">
			<p>2nd summer semester in inf systems spec</p>
		</div>
	</div>
	<div class="year spec spec spec-is specchooser">
		<h4>{{ 4. Year }}</h4>
		<hr></hr>
		<select class="spec spec-is speccombo" onchange="specComboChanged()">
			<option value="spec-none" selected disabled hidden>Choose spec</option>
			<option value="spec-buss">Business</option>
			<option value="spec-ai">Artifical Intelligence</option>
		</select> 
		<div class="sem sem-autumm spec spec-ai">
			<p>1st autumm semester in ai spec</p>
		</div>
		<div class="sem sem-spring spec spec-ai">
			<p>1st summer semester in ai spec</p>
		</div>  
		<div class="sem sem-autumm spec spec-buss">
			<p>1st autumm semester in business spec</p>
		</div>
		<div class="sem sem-spring spec spec-buss">
			<p>1st summer semester in business spec</p>
		</div>  
	</div>
	<div class="year spec spec-is spec-ai">
		<h4>{{ 5. Year }}</h4>
		<hr></hr>
		<div class="sem sem-autumm spec spec-ai">
			<p>2nd autumm semester in ai spec</p>
		</div>
		<div class="sem sem-spring spec spec-ai">
			<p>2nd summer semester in ai spec</p>
		</div>
	</div>
  </div>
</body>


<script>
	function extractSpecs(elem) {
		var specs = [];
		var classes = elem.className.split(" ");
		for(var i = 0; i < classes.length; i++){
			if(classes[i].startsWith("spec-")) {
				specs.push(classes[i]);
			}
		}
		return specs;
	}
	
	function shouldShowElement(showSpecs, elem) {
		specs = extractSpecs(elem);
		
		specs = specs.join(" ");
		showSpecs = showSpecs.join(" ");

		if(showSpecs.startsWith(specs)) return true;
		return false;
	}
	
	function showAll() {
		var specsElements = document.getElementsByClassName("spec");
		for(var i = 0; i < specsElements.length; i++){
			specsElements[i].style.display = "block"; // depending on what you're doing
			specsElements[i].removeAttribute("specHidden");
		}
	}
	
	function hideSpecs(showSpecs) {
		showAll();
		var specsElements = document.getElementsByClassName("spec");
		for(var i = 0; i < specsElements.length; i++){
			var elem = specsElements[i]
			if(!shouldShowElement(showSpecs, elem)) {
				elem.style.display = "none"; 
				att = document.createAttribute("specHidden");
				elem.setAttributeNode(att);
				if(elem.className.includes("speccombo")){
					elem.value = "spec-none";
				}
			}			
		}
    }
	
	function calcShowSpecs() {
		showSpecs = [];
		var combos = document.getElementsByClassName("speccombo");
		for(var i = 0; i < combos.length; i++){
			var elem = combos[i];
			if(shouldShowElement(showSpecs, elem)) {
				if(elem.value != "spec-none") {
					showSpecs.push(elem.value);
				}
			}
		}
		
		console.log("calculated: "+showSpecs.join(" "));
		
		return showSpecs;
	}

	
	function specComboChanged() {
		alert("changedValue!");
		refreshSpecsVisibility();
	}
	
	function refreshSpecsVisibility() {
		hideSpecs(calcShowSpecs());
	}
	
	refreshSpecsVisibility();
	
</script>

</html>